<template>
  <div class="simple-calculator">
    <h3>Calculadora de Soma</h3>
    <div class="input-container">
      <input v-model="num1" type="number" placeholder="Número 1">
    </div>
    <div class="input-container">
      <input v-model="num2" type="number" placeholder="Número 2">
    </div>
    <button @click="calcularSoma">Calcular</button>
    <p class="resultado">Resultado: {{ resultado }}</p>
  </div>
</template>

<script>
export default {
  name: 'SimpleCalculator',
  data() {
    return {
      num1: 0,
      num2: 0,
      resultado: 0
    };
  },
  methods: {
    calcularSoma() {
      this.resultado = this.num1 + this.num2;
    }
  }
};
</script>

<style scoped>
.simple-calculator {
  padding: 20px;
  text-align: center;
}

h3 {
  margin: 0 0 20px;
  font-size: 24px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

input {
  width: 120px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #42b983;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #359e72;
}

.resultado {
  font-size: 18px;
  color: #42b983;
}
</style>
